img{
  pointer-events: none;
  user-select: n;
}

.git_icon{
  width: 5%;
}

.bg-grad-green,body{
  background: rgb(2,0,36);
  background: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(87,166,161,1) 72%, rgba(0,212,255,1) 100%);
}
.bg-grad-blue{
  background: rgb(2,0,36);
  background: linear-gradient(209deg, rgba(2,0,36,1) 0%, rgba(87,116,166,1) 76%, rgba(0,212,255,1) 100%);
}

section{
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section ul{
  text-align: left;
}
section ul p{
  text-align: left;
}
section h2{
  margin-bottom: 5%;
}

.left-col{
  z-index: 5;
}
.left-col img{
  border-radius: 50%;
  max-width: 100px;
}

footer{
  position: relative;
  left: -0.57%;
}


@media screen and (width>=992px) {
  .left-col{
      min-height: 100vh; 
      overflow-y: auto;
      position: fixed;
  }
  .right-col {
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none;
    height: calc(100vh - 5vh); /* Adjust height as needed */
    scroll-snap-type: y mandatory; /* Snap vertically on scroll */
  }
  
  section {
    scroll-snap-align: center; /* Align sections to viewport center */
    min-height: 100vh; /* Ensure sections fill viewport height */
    /* Additional styling for your sections */
  }
  
}
